<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>E-Tab</title>
    <link rel="stylesheet" href="mdui/css/mdui.min.css">
    <link rel="stylesheet" href="css/tab.css">
    <script src="mdui/js/mdui.min.js"></script>
</head>
<body class="mdui-theme-primary-indigo">
<div id="app">
    <div class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>-->
            <!--<a href="javascript:;" class="mdui-typo-headline">MDUI</a>-->
            <a href="javascript:;" class="mdui-typo-title">E-Tab</a>
            <div class="mdui-toolbar-spacer" style="background: #fff;">1234</div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
        </div>
    </div>

    <div class="content">
        <div class="mdui-panel" mdui-panel>

            <div v-for="(item,index) in getTabData" class="mdui-panel-item mdui-panel-item-open">
                <div class="mdui-panel-item-header">
                    <span class="time">创建于 {{item.id | formatDate}}</span>
                    <span class="recover" @click="openAll(item.id)">恢复全部</span>
                    <span class="del" @click="delAll(item.id)">删除全部</span>
                </div>
                <div class="mdui-panel-item-body">
                    <div class="tab" v-for="(t,i) in item.data" @click="open(item.id,t.id,t.url)">
                        <img class="tab-del" @click.stop="del(item.id,t.id)" src="images/del.png">
                        <img class="fac-icon" :src="t.favIconUrl">
                        <span class="title" v-text="t.title"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<script src="vue.min.js"></script>
<script src="tab.js"></script>
</body>
</html>